:root{  
    --background-color: #f0f0f0;
    --white-color: 255, 255, 255;
    --black-color: 0, 0, 0;
    --font-family: 'Arial', sans-serif;
    --color-bg-color-menu: 70, 180, 249;
    --color-bg-color-menu-active: 0, 135, 219;
    --color-bg-hover: 113, 227, 115;
    --color-bg-hover-menu: 51, 122, 52;
    --color-bg: 232, 232, 232;
    --color-gray: 88, 88, 88;
    color: rgb(0, 0, 255); //bg-color-menu
    color: rgb(0, 0, 170); //bg-color-menu-active
    color: rgb(113, 227,115); //bg-hover
    color: rgb(51, 112,52); //bg-hover-menu
    color: rgb(232, 232, 232); //bg
    color: rgb(88, 87, 87); // gray
    color: rgb(111, 77, 127); 
    color: rgb(0, 135, 219);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PT Sans Narrow", sans-serif;
    --spacing: 1rem;
}


body{
    margin: 0;
}